# ignore all results folders
results
results.broken
results.tar*
.tmp/
.token
PyExpPlotting_andnp*

# ignore python caches
env/
__pycache__
*.pyc
.venv/
.pdm.toml

# ignore test experiments
test.json

# ignore editor settings
.vscode

*.png
